@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/livvic";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Livvic', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}